@font-face {
  font-family: "Game of Thrones";
  src: url("../css/Thrones.ttf") format("truetype");
  
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	


}
.game {
	background-color: rgba(180,180,158,0.687);
}
.intro {
	background-color: rgba(181, 153, 117, 0.687);
}
 h1 {
		font-family:'Game of Thrones', serif;
		word-spacing: 1.1rem;
		text-align: center;
		font-size: 3.5em;
}
ul {
    list-style: none;
}
li {
		font-family:'Game of Thrones', serif;
		word-spacing: 1.1rem;
		font-size: 2em;
		margin-left: 2%;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}
p {
		font-family:'Game of Thrones', serif;
		word-spacing: 1.1rem;
		font-size: 1.2em;
	
}

 .quizContainer {
	 background-image: url("../images/game.jpg");
	
    border-radius: 6px;
		width: 80%;
    margin: auto;
    padding-top: 5px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    position: relative;
}
.nextButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    width: 150px;
    height: 80px;
    text-align: center;
    background-color: lightgrey;
    color: #222;
    font-family:'Game of Thrones', serif;
    position: relative;
    margin: auto;
		padding-top: 15px;
		padding-bottom: 10px;
		font-size: 1.2em;
}
.question {
		font-family:'Game of Thrones', serif;
		word-spacing: 1.1rem;
    font-size: 2em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: lightgrey;
    text-align: center;
}
.quizMessage {
    background-color: lightgray;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family:'Game of Thrones', serif;
    color: darkred;
}
#timer{
	text-align: center;
	width: 30%;
	font-family:'Game of Thrones', serif;
	float: right; 
}
.choiceList {
		font-family: 'Game of Thrones' serif;
		/* word-spacing: 1.1rem; */
		color: darkred;
}
.result {
    width: 30%;
    height: auto;	
    text-align: center;
		font-family:'Game of Thrones', serif;
		float: right;
}
.wrapper {
	margin: 0;
	padding: 0;
}
.main {
	margin-top: 3%;
	margin-right: 1%;
	margin-left: 1%;
	padding-right: 0%;
	width: 60%;
	float: left;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;

}

.image1{
	width: 100%;
	padding: 0;
	margin: 0;
}

.aside {
	background-image: url("https://i.pinimg.com/736x/39/fe/0a/39fe0abde0c3c28d81210787b896a594.jpg");
	margin-left: 2%;
	padding: 0;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;

	float: left;
	width: 25%;
	text-align: center;

}
.image2 {
	width: 99.9%;
	padding: 0;
	margin: 2% 0 2% 2%;
}
.motto-img{
	width: 99.9%;
	padding: 0;
	margin: 0;
}
@media only screen and (max-width:900px){

	.main { 
		width: 100%;
	}
	.aside {
		width: 100%;
	}
}

